.nav {
  background-color: #4961ef;
  height: 70px;
  width: auto;
  color: #ffffff;
  font-weight: bold;
  margin: 0px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* font-size: 34px; */
}
.navContent h1,
.navContent h2 {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.btn {
  background-color: #4961ef;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin: 0px;
  height: 70px;
  font-size: 1rem;
  padding: 0px;
}
.btn:focus {
  outline: 0px;
}

@media only screen and (max-width: 1080px) {
  .navContent h1,
  .navContent h2,
  .btn {
    font-size: 0.999em;
  }
}
