.nav {
  background-color: #4961EF;
  height: 70px;
  width: auto;
  color: #ffffff;
  font-weight: bold;
  margin: 0px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* font-size: 34px; */
}
.btn {
  background-color:#4961EF;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin: 0px;
  height:70px;
  font-size: 1rem;



}
h1,h2{
}
