.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.sidebar li {
  /* background-color: #f0f0f0; */
  margin: 5px;
  padding: 10px 30px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}
.sidebar li a {
  text-decoration: none;
}
.sidebar > button:focus {
  background-color: #5478d4;
  border: none;
  color: white;
  box-shadow: 0.5px 0.5px 2px grey;
}
.sidebar > button:active {
  border: none;
}

/*                RESPONSIVE                       */
@media only screen and (max-width: 1080px) {
  .sidebar {
    width: 100%;
  }
}
