.main {
  /* margin-right: 20px; */
  /* height: auto; */
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  margin-top: 5px;
  overflow: auto;
  /* flex-wrap: wrap; */
  height: calc(100vh - 120px);
}

.Link {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
  filter: drop-shadow(-4px -4px 5px rgba(255, 255, 255, 0.7)),
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.1)); /*NOT WORKED */
  box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.Link:active {
  color: none;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  /* align-items: right; */
  color: #1f1b1b;
  font-weight: bold;
}
.avatar {
  margin: 16px;
  /* width: 140px;
  height: fit-content;
  background-color: #4961ef;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.avatarText {
  font-size: 50px;
  font-weight: bold;
  color: white;
  background-color: #4961ef;
  border-radius: 5px;
  padding: 50px;
  margin: 0px;
  margin-block: 0px !important;
}
.information > .name {
  font-weight: bold;
  font-size: 18px;
  margin: 0px !important;
  color: #1f1b1b;
}
.information > .address,
.information > .registeredDate,
.information > .phone {
  font-weight: lighter;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  color: #1f1b1b;
}
.information > .description {
  font-size: 14px;
  color: #1f1b1b;
}

/*                RESPONSIVE                       */
@media only screen and (max-width: 1080px) {
  .main {
    width: calc(100% - 80px);
  }
  .Link {
    width: 100%;
  }
  .information > .address,
  .information > .registeredDate,
  .information > .phone,
  .information > .name,
  .information > .description,
  .right > p {
    text-overflow: ellipsis;
    font-size: 0.8em;
    margin-block: 0px !important;
  }
  .information > .description {
    margin-block: 2px !important;
  }

  .avatar {
    width: auto;
    height: auto;
  }
  .avatarText {
    padding: 20px;
    font-size: 30px;
  }
}
