.main {
  margin-right: 20px;
  /* height: auto; */
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  margin-top: 5px;
  overflow: auto;
  flex-wrap: nowrap;
  height: calc(100vh - 120px);
}

.Link {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: space-between;
  cursor: pointer;
  filter: drop-shadow(-4px -4px 5px rgba(255, 255, 255, 0.7)),
    drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.1)); /*NOT WORKED */
  box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.Link:active {
  color: none;
}
.left {
  display: flex;
  align-items: center;
}
.right {
  /* align-items: right; */
  color: #1f1b1b;
  font-weight: bold;
}
.avatar {
  margin: 16px;
  width: 140px;
  height: 140px;
  background-color: #4961ef;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatarText {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.information > .name {
  font-weight: bold;
  font-size: 18px;
  margin: 0px !important;
  color: #1f1b1b;
}
.information > .address,
.information > .registeredDate,
.information > .phone {
  font-weight: lighter;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  color: #1f1b1b;
}
.information > .description {
  font-size: 14px;
  color: #1f1b1b;
}
