.sidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: calc(100vh - 102px);
  border-right: 1px solid #1f1b1b50;
  padding: 0px;
  margin: 16px, 0px;
}
.sidebar li {
  /* background-color: #f0f0f0; */
  margin: 5px;
  padding: 10px 0px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}
.sidebar li a {
  text-decoration: none;
}
.sidebar > button:focus {
  background-color: #4961ef;
  border: none;
  color: white;
  box-shadow: 0.5px 0.5px 2px #1f1b1b;
}
.sidebar > button:active {
  border: none;
}

/*                RESPONSIVE 1200                       */
@media only screen and (max-width: 1080px) {
  .sidebar {
    width: 100%;
    height: auto;
    align-items: center;
    border-right: none;
    border-bottom: 1px solid #1f1b1b50;
    /* display: none; */
  }
  /* @media only screen and (max-width: 990) {
}
@media only screen and (max-width: 768) {
  } */
}
